<h2>Sign up</h2>
<style>
  .radio-button {
  margin-bottom: 10px; /* Adjust the margin as needed */
}

</style>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :name%><br />
    <%= f.text_field :name, autocomplete: "NAME" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
  </div>
  <p id="noticee">
  </p>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :image_data %><br />
    <%= f.file_field :image_data %>
  </div>
  <div class="field">
  <%= f.label :gender %><br />
  <%= f.collection_radio_buttons :gender, [['Male', 'male'], ['Female', 'female'], ['Transgender', 'transgender']], :second, :first do |b| %>
    <div class="radio-button">
      <%= b.radio_button %>
      <%= b.label %>
    </div>
  <% end %>
</div>

<br>



  <div class="actions">
    <%= f.submit "Sign up"%>
  </div>
<% end %>

<br>
<%= render "devise/shared/links" %>


