<% @articles.each do |article| %>
  <% unless article.archived? %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.user.email %></td>
      <td><%= article.created_at%></td>
      <td><%= article.user.role%></td>
      
      <!--<td><%=   time_ago_in_words(article.created_at)  %> ago</td>
-->
      <td><%= link_to 'Show', article, class:"btn btn-primary"%></td>
      
        <td><%= link_to 'Edit', edit_article_path(article),class:"btn btn-dark" %></" %></td> <!-- Corrected indentation -->

<!-- <td>         <%= link_to "Destroy", article_path(article), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            },class:"btn btn-danger"%></td>-->
              <td><%= link_to 'Delete', article_path(article), method: :delete, class: 'delete-article ', data: { confirm: 'Are you sure?' } %></td>


    </tr>
  <% end %>
<% end %>