<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<%= link_to "Edit", edit_article_path(@article) ,class:"btn btn-outline-primary",:remote=>true%></li>
  <br>
  <br>
  <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },class:"btn btn-outline-primary" %></li>


<h2>Comments</h2>
<%= render @article.comments.where(parent_id: nil) %>
<button type="button" class="comment-form-displ btn btn-primary">Add Comment</button>
<div class="comment-add" style="display:none;">
  <%= render 'comments/form', parent: nil %>
</div> 
<script>
  document.querySelectorAll('.comment-form-displ').forEach((el)=>{
  el.addEventListener('click', (ev)=>{
    ev.preventDefault()
    console.log("hi from the comment form display")
    el.nextElementSibling.style.display = 'block';
    return
  })
})
</script>